*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'Handlee', cursive;
  background-color: #2D2D2D;
  color: white;
  font-size: 64px;
}

h1{
  color: red;
  display: inline-block;
  
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home div{
  margin-bottom: 47px;
}

.totalPoint{
  margin-top: 70px;
}
.startButton{
  cursor: pointer;
}

.game{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.gameLeftSide{
  margin-left: 8rem;
  margin-top: 4.5rem;
}
.gameRightSide{
  margin-top: 3rem;
}

.question{
  position: absolute;
  top: 17rem;
  left: 17rem;
  font-size: 115px;
}

.scoreBoard{
  display: flex;
  font-size: 48px;
}

.scoreBoard div{
  margin-right: 65px;
}

.answers{
  height: 800px;
  padding: 125px 0px;
}
.firstAnswer{
  
  margin-left: 2rem;

}

.answerContainer{
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
}
.secondAnswer{
  margin-left: 20rem;
  
}
.thirdAnswer{
  margin-left: 5rem;
}

.result{
  padding-top: 8rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 52px;

}

.resultAnswer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.result > .leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result >.leftSide > div{
  margin-top: 3rem;
}
.result > .rightSide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result >.rightSide>div:nth-of-type(1){
  margin-top:1rem ;
}


.result-finaltext{
  color: red;
  display: inline-block;
  font-size: 82px;
}
.result-allquestiontext{
  color: red;
  display: inline-block;
  font-size: 64px;
}


@media only screen and (min-width:1440px) and (max-width:1919px){
  .question{
    top: 16rem;
    left: 17rem;
    font-size: 8rem;
  }
  .firstAnswer {
    margin-left: 6rem;
  }
  .secondAnswer {
    margin-left: 23rem;
  }

  .thirdAnswer {
    margin-left: 10rem;
}
}


@media only screen and (min-width:1024px) and (max-width:1439px) {
  .gameLeftSide{
    margin-left:3rem;
  }
  .question{
    font-size: 5rem;
    left: 6rem;
    top: 22rem;
  }

  .scoreBoard{
    font-size: 2.3rem;
  }

  .scoreBoard div{
    margin-right: 10px;
  }
  
  .firstAnswer {
    margin-left: 4rem;
  }

  .secondAnswer{
    margin-left: 17rem;
  }
  .thirdAnswer {
    margin-left: 7rem;
  }

}